.sideBar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #1d1c1c;
    position: fixed;
    height: 100%;
    overflow: auto;
    color: white;
}

a.linkPages {
    color: rgb(255, 255, 255, 0.7);
    display: block;
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}

a.linkPages svg{
    margin-right: .5em;

}

.sideBar div{
    background-image: url('../../assets/televisao.png');
    background-color: #1d1c1c;
    background-position: center;
    background-size: cover;
    height: 150px;
    padding-top: 25px;
}

.sideBar div img {
    border-radius: 50%;
    margin: auto;
    display: block;
    width: 85px;
    height: 85px;
    -webkit-filter: drop-shadow(2px 3px 6px #121212);
    filter: drop-shadow(2px 3px 6px #121212);
    object-fit: cover;
}

.content{
    margin-left: 200px;
    padding: 1px 15px;
}


@media screen and (max-width: 700px){
    .sideBar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sideBar a {
        float: left;
        margin-left: 30px;
    }
    
    .sideBar div {
        display: none;
    }
    
    a.linkPages {
        margin-top: 5px;
        margin-bottom: 5px;
        text-decoration: none;
        padding-top: 0px;
    }

    .content {
        margin-left: 0px;
    }
}
@media screen and (max-width: 360px){
    .sideBar a {
        text-align: center;
        margin-left: 10px;
    }
    .sideBar {
       display: flex;
       flex-direction: row;
    }
}
