@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap');


:root{
    --greyBackground: rgb(238, 237, 237);
    --transparent: rgb(255, 255, 255, 0.5);
    --yellow: rgb(245, 245, 27);
    --button2: rgb(0, 0, 0, 0.8);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: 0;
}

html, body, #root{
    height: 100%;
}

body {
    font: 14px 'Raleway', sans-serif;
    background: var(--greyBackground);
}

a{
    text-decoration: none;
    list-style: none;
    font-size: 1.2rem;
    color: var(--yellow);
    transition: .8s;
    margin-top: 5%;
}


a:hover {
    /* font-weight: bold; */
    background-color: var(--transparent);
    margin-top: 20px;
  padding: 10px 20px;
    border-radius: 10px;
}


form button {
    cursor: pointer;
    font: 18px 'Raleway', sans-serif;
    padding: 2% 15%;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    transition: .8s ease-in;
}

form button:hover {
    background-color: var(--button2);
    font-weight: bold;
    color: var(--yellow);
}

input {
    font: 20px 'Raleway', sans-serif;
    border-radius: 10px;
    padding: 3%;
    text-align: center;
    /* width: 100%; */
}

/* ::placeholder {
    color: var(--grey);
} */

.floatLabel {
    position: relative;
    height: 37px;
    width: 30em;
    margin-bottom: 40px;
  }
  
  .floatLabel label,
  .floatLabel input {
    display: block;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
  }
  
  .floatLabel label {
    transition-duration: 0.8s;
    left: 2px;
    top: 18px;
    color: var(--button2);
  }
  
  .floatLabel input {
    top: 17px;
  }
  
  .floatLabel input:valid + label {
    transition: .8s;
    top: 0px;
    color: var(--greyBackground);
  }