@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap');

:root{
    --greyBackground: rgb(238, 237, 237);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: 0;
}

html, body, #root{
    height: 100%;
}

body {
    font: 14px 'Raleway', sans-serif;
    background: var(--greyBackground);
}

a{
    text-decoration: none;
    list-style: none;
}

button {
    cursor: pointer;
}